In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

**PANDA DAY 2**

In [4]:
import pandas as pd

In [30]:
DSFP50_INFO = {
    "name": [
        "Kenny", "Chiamaka", "Maryam", "Fatima", "Maryam",
        "Nusaibah", "Aisha", "Munirah", "Grace", "Hafeez",
        "Fadila", "Jubal", "Yimi", "Jamila", "Habib",
        "John", "Joe", "Salihu", "Adnan", "Umar"
    ],
    "age": [
        4, 6, 12, 15, 10,
        14, 13, 11, 9, 16,
        17, 8, 18, 14, 16,
        7, 19, 13, 20, 15
    ],
    "email": [
        "nabal@dsfp.com", "sony@dsfp.com", "amina@dsfp.com", "tunde@dsfp.com", "kwame@dsfp.com",
        "fatima@dsfp.com", "chinedu@dsfp.com", "zainab@dsfp.com", "kofi@dsfp.com", "aisha@dsfp.com",
        "sadiq@dsfp.com", "mary@dsfp.com", "ibrahim@dsfp.com", "blessing@dsfp.com", "yusuf@dsfp.com",
        "grace@dsfp.com", "samuel@dsfp.com", "halima@dsfp.com", "peter@dsfp.com", "amaka@dsfp.com"
    ],
    "country": [
        "Nigeria", "Ghana", "Nigeria", "Kenya", "Ghana",
        "Egypt", "Nigeria", "Nigeria", "Ghana", "Kenya",
        "Nigeria", "South Africa", "Egypt", "Nigeria", "Sudan",
        "South Africa", "Kenya", "Nigeria", "Ghana", "Nigeria"
    ],
    "gender": [
        "Male", "Female", "Female", "Male", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female"
    ]
}

data = pd.DataFrame(DSFP50_INFO)
data

        name  age              email       country  gender
0      Kenny    4     nabal@dsfp.com       Nigeria    Male
1   Chiamaka    6      sony@dsfp.com         Ghana  Female
2     Maryam   12     amina@dsfp.com       Nigeria  Female
3     Fatima   15     tunde@dsfp.com         Kenya    Male
4     Maryam   10     kwame@dsfp.com         Ghana    Male
5   Nusaibah   14    fatima@dsfp.com         Egypt  Female
6      Aisha   13   chinedu@dsfp.com       Nigeria    Male
7    Munirah   11    zainab@dsfp.com       Nigeria  Female
8      Grace    9      kofi@dsfp.com         Ghana    Male
9     Hafeez   16     aisha@dsfp.com         Kenya  Female
10    Fadila   17     sadiq@dsfp.com       Nigeria    Male
11     Jubal    8      mary@dsfp.com  South Africa  Female
12      Yimi   18   ibrahim@dsfp.com         Egypt    Male
13    Jamila   14  blessing@dsfp.com       Nigeria  Female
14     Habib   16     yusuf@dsfp.com         Sudan    Male
15      John    7     grace@dsfp.com  South Africa  Female
16       Joe   19    samuel@dsfp.com         Kenya    Male
17    Salihu   13    halima@dsfp.com       Nigeria  Female
18     Adnan   20     peter@dsfp.com         Ghana    Male
19      Umar   15     amaka@dsfp.com       Nigeria  Female

In [31]:
#getting random information from your dataframe

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     20 non-null     object
 1   age      20 non-null     int64
 2   email    20 non-null     object
 3   country  20 non-null     object
 4   gender   20 non-null     object
dtypes: int64(1), object(4)
memory usage: 932.0+ bytes

In [32]:
#summary statistics for all numeric columns

data.describe()

            age
count  20.00000
mean   12.85000
std     4.43995
min     4.00000
25%     9.75000
50%    13.50000
75%    16.00000
max    20.00000

In [27]:
#it shows the row labels of your DataFrame.

data.index

RangeIndex(start=0, stop=20, step=1)

In [33]:
#we set email as the index

data.set_index("email", inplace=True)
data

                       name  age       country  gender
email
nabal@dsfp.com        Kenny    4       Nigeria    Male
sony@dsfp.com      Chiamaka    6         Ghana  Female
amina@dsfp.com       Maryam   12       Nigeria  Female
tunde@dsfp.com       Fatima   15         Kenya    Male
kwame@dsfp.com       Maryam   10         Ghana    Male
fatima@dsfp.com    Nusaibah   14         Egypt  Female
chinedu@dsfp.com      Aisha   13       Nigeria    Male
zainab@dsfp.com     Munirah   11       Nigeria  Female
kofi@dsfp.com         Grace    9         Ghana    Male
aisha@dsfp.com       Hafeez   16         Kenya  Female
sadiq@dsfp.com       Fadila   17       Nigeria    Male
mary@dsfp.com         Jubal    8  South Africa  Female
ibrahim@dsfp.com       Yimi   18         Egypt    Male
blessing@dsfp.com    Jamila   14       Nigeria  Female
yusuf@dsfp.com        Habib   16         Sudan    Male
grace@dsfp.com         John    7  South Africa  Female
samuel@dsfp.com         Joe   19         Kenya    Male
halima@dsfp.com      Salihu   13       Nigeria  Female
peter@dsfp.com        Adnan   20         Ghana    Male
amaka@dsfp.com         Umar   15       Nigeria  Female

In [35]:
#first row of the dataset using loc

data.loc[["nabal@dsfp.com"]]

                 name  age  country gender
email
nabal@dsfp.com  Kenny    4  Nigeria   Male

In [34]:
data.reset_index()

                email      name  age       country  gender
0      nabal@dsfp.com     Kenny    4       Nigeria    Male
1       sony@dsfp.com  Chiamaka    6         Ghana  Female
2      amina@dsfp.com    Maryam   12       Nigeria  Female
3      tunde@dsfp.com    Fatima   15         Kenya    Male
4      kwame@dsfp.com    Maryam   10         Ghana    Male
5     fatima@dsfp.com  Nusaibah   14         Egypt  Female
6    chinedu@dsfp.com     Aisha   13       Nigeria    Male
7     zainab@dsfp.com   Munirah   11       Nigeria  Female
8       kofi@dsfp.com     Grace    9         Ghana    Male
9      aisha@dsfp.com    Hafeez   16         Kenya  Female
10     sadiq@dsfp.com    Fadila   17       Nigeria    Male
11      mary@dsfp.com     Jubal    8  South Africa  Female
12   ibrahim@dsfp.com      Yimi   18         Egypt    Male
13  blessing@dsfp.com    Jamila   14       Nigeria  Female
14     yusuf@dsfp.com     Habib   16         Sudan    Male
15     grace@dsfp.com      John    7  South Africa  Female
16    samuel@dsfp.com       Joe   19         Kenya    Male
17    halima@dsfp.com    Salihu   13       Nigeria  Female
18     peter@dsfp.com     Adnan   20         Ghana    Male
19     amaka@dsfp.com      Umar   15       Nigeria  Female

In [5]:
DSFP50_INFO = {
    "name": [
        "Nabal","Sony","Amina","Tunde","Kwame","Fatima","Chinedu","Zainab","Kofi","Aisha",
        "Sadiq","Mary","Ibrahim","Blessing","Yusuf","Grace","Samuel","Halima","Peter","Amaka",
        "John","Sarah","Ahmed","Ruth","Daniel","Esther","Musa","Joy","Paul","Hauwa",
        "James","Linda","Ali","Mercy","Joseph","Zara","Michael","Peace","Abdul","Rose",
        "David","Patience","Ismail","Favour","Joshua","Hannah","Usman","Faith","Emeka","Deborah"
    ],
    "last_name": [
        "Ade","Brown","Sule","Ojo","Mensah","Ali","Eze","Bello","Boateng","Lawal",
        "Ahmed","Smith","Sadiq","Okeke","Mohammed","Johnson","Abubakar","Suleiman","Williams","Onyekachi",
        "Doe","White","Hassan","Green","Miller","Adams","Sani","Clark","Taylor","Mustapha",
        "King","Evans","Farouk","Nelson","Young","Khan","Scott","Lewis","Kabir","Walker",
        "Bamidele","Uche","Salam","Okoro","Adeyemi","Daniels","Sule","Roberts","Eze","Cole"
    ],
    "age": [
        4,6,12,15,10,14,13,11,9,16,
        17,8,18,14,16,7,19,13,20,15,
        22,21,24,23,26,25,27,28,29,30,
        31,32,33,34,35,36,37,38,39,40,
        41,42,43,44,45,46,47,48,49,50
    ],
    "email": [
        f"user{i}@dsfp.com" for i in range(1, 51)
    ],
    "country": [
        "Nigeria","Ghana","Nigeria","Kenya","Ghana",
        "Egypt","Nigeria","Nigeria","Ghana","Kenya",
        "Nigeria","South Africa","Egypt","Nigeria","Sudan",
        "South Africa","Kenya","Nigeria","Ghana","Nigeria",
        "Nigeria","Ghana","Kenya","Nigeria","Egypt",
        "Sudan","Nigeria","Ghana","Kenya","Nigeria",
        "South Africa","Egypt","Nigeria","Ghana","Kenya",
        "Nigeria","Sudan","Nigeria","Ghana","Kenya",
        "Nigeria","South Africa","Egypt","Nigeria","Ghana",
        "Kenya","Nigeria","Sudan","Nigeria","Ghana"
    ],
    "gender": [
        "Male","Female","Female","Male","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female",
        "Male","Female","Male","Female","Male",
        "Female","Male","Female","Male","Female"
    ],
    "salary": [
        50000,60000,55000,70000,65000,
        62000,58000,54000,60000,72000,
        75000,52000,80000,68000,74000,
        51000,82000,66000,90000,70000,
        95000,88000,91000,87000,93000,
        89000,96000,99000,102000,105000,
        110000,108000,112000,115000,118000,
        120000,125000,128000,130000,135000,
        140000,145000,148000,150000,155000,
        158000,160000,165000,170000,175000
    ],
    "working_hours": [
        40,45,38,42,40,
        36,44,39,41,40,
        45,37,48,42,46,
        35,50,40,55,43,
        40,45,42,38,46,
        44,48,40,41,39,
        45,42,46,44,48,
        40,50,43,45,47,
        42,48,44,46,45,
        50,40,48,42,45
    ]
}

data2 = pd.DataFrame(DSFP50_INFO)
data2

,name,last_name,age,email,country,gender,salary,working_hours
0,Nabal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [39]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           50 non-null     object
 1   last_name      50 non-null     object
 2   age            50 non-null     int64
 3   email          50 non-null     object
 4   country        50 non-null     object
 5   gender         50 non-null     object
 6   salary         50 non-null     int64
 7   working_hours  50 non-null     int64
dtypes: int64(3), object(5)
memory usage: 3.3+ KB

In [40]:
data2.describe()

            age         salary  working_hours
count  50.00000      50.000000      50.000000
mean   26.44000  100520.000000      43.380000
std    13.38467   36266.721689       4.065233
min     4.00000   50000.000000      35.000000
25%    15.00000   70000.000000      40.000000
50%    25.50000   94000.000000      43.500000
75%    37.75000  127250.000000      46.000000
max    50.00000  175000.000000      55.000000

In [41]:
#to filter 

data2["last_name"]== "Eze"

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49    False
Name: last_name, dtype: bool

In [43]:
data2.loc[data2["last_name"] == "Eze", "name"]

6     Chinedu
48      Emeka
Name: name, dtype: object

In [44]:
filt = data2["last_name"] == "Eze"
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42

In [45]:
data2.loc[filt]

,name,last_name,age,email,country,gender,salary,working_hours
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42

In [46]:
filt

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48     True
49    False
Name: last_name, dtype: bool

In [47]:
#to filter 2 conditions 

filt = (data2["last_name"] == "Eze")  &  (data2["age"] > 13)

data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42

In [ ]:
#getting values that did not meet condition

data2.loc[]

In [49]:
#filter people from sudan and there salary is atleats upto 30k

filt = (data2["country"] == "Sudan") & (data2["salary"] >= 30000)
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48

In [52]:
#females that works atleast 40hours weekly and earn atleast 20k

filt = (data2["gender"] == "Female") & (data2["working_hours"] >= 40) & (data2["salary"] >= 20000)
data2[filt]

,name,last_name,age,email,country,gender,salary,working_hours
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [7]:
#to rename a column

data2.rename(columns = {"gender": "sex"}, inplace=True)

In [8]:
data2

,name,last_name,age,email,country,sex,salary,working_hours
0,Nabal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [9]:
#editing within the dataframe
#replaced nabal to jubal

data2.iloc[0,0] = "Jubal"
data2

,name,last_name,age,email,country,sex,salary,working_hours
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [15]:
#reassigning.. adding more hours to each working hours

data2["working_hours"]-5

0     40
1     45
2     38
3     42
4     40
5     36
6     44
7     39
8     41
9     40
10    45
11    37
12    48
13    42
14    46
15    35
16    50
17    40
18    55
19    43
20    40
21    45
22    42
23    38
24    46
25    44
26    48
27    40
28    41
29    39
30    45
31    42
32    46
33    44
34    48
35    40
36    50
37    43
38    45
39    47
40    42
41    48
42    44
43    46
44    45
45    50
46    40
47    48
48    42
49    45
Name: working_hours, dtype: int64

In [16]:
data2["working_hours"] = data2["working_hours"]-5

In [17]:
data2

,name,last_name,age,email,country,sex,salary,working_hours
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45

In [19]:
data2['tax_salary'] = data2['salary'] * 0.07

In [20]:
data2

,name,last_name,age,email,country,sex,salary,working_hours,tax_salary
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40,3500.0
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45,4200.0
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38,3850.0
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42,4900.0
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40,4550.0
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36,4340.0
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44,4060.0
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39,3780.0
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41,4200.0
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40,5040.0
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45,5250.0
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37,3640.0
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48,5600.0
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42,4760.0
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46,5180.0
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35,3570.0
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50,5740.0
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40,4620.0
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55,6300.0
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43,4900.0
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40,6650.0
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45,6160.0
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42,6370.0
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38,6090.0
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46,6510.0
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44,6230.0
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48,6720.0
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40,6930.0
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41,7140.0
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39,7350.0
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45,7700.0
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42,7560.0
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46,7840.0
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44,8050.0
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48,8260.0
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40,8400.0
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50,8750.0
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43,8960.0
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45,9100.0
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47,9450.0
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42,9800.0
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48,10150.0
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44,10360.0
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46,10500.0
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45,10850.0
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50,11060.0
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40,11200.0
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48,11550.0
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42,11900.0
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45,12250.0

In [21]:
#create a column named rate.. it should use two column

data2['hourly_rate'] = (data2['salary']/ data2['working_hours'])

In [22]:
data2

,name,last_name,age,email,country,sex,salary,working_hours,tax_salary,hourly_rate
0,Jubal,Ade,4,user1@dsfp.com,Nigeria,Male,50000,40,3500.0,1250.000000
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45,4200.0,1333.333333
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38,3850.0,1447.368421
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42,4900.0,1666.666667
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40,4550.0,1625.000000
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36,4340.0,1722.222222
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44,4060.0,1318.181818
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39,3780.0,1384.615385
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41,4200.0,1463.414634
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40,5040.0,1800.000000
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45,5250.0,1666.666667
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37,3640.0,1405.405405
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48,5600.0,1666.666667
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42,4760.0,1619.047619
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46,5180.0,1608.695652
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35,3570.0,1457.142857
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50,5740.0,1640.000000
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40,4620.0,1650.000000
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55,6300.0,1636.363636
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43,4900.0,1627.906977
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40,6650.0,2375.000000
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45,6160.0,1955.555556
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42,6370.0,2166.666667
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38,6090.0,2289.473684
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46,6510.0,2021.739130
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44,6230.0,2022.727273
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48,6720.0,2000.000000
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40,6930.0,2475.000000
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41,7140.0,2487.804878
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39,7350.0,2692.307692
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45,7700.0,2444.444444
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42,7560.0,2571.428571
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46,7840.0,2434.782609
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44,8050.0,2613.636364
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48,8260.0,2458.333333
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40,8400.0,3000.000000
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50,8750.0,2500.000000
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43,8960.0,2976.744186
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45,9100.0,2888.888889
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47,9450.0,2872.340426
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42,9800.0,3333.333333
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48,10150.0,3020.833333
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44,10360.0,3363.636364
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46,10500.0,3260.869565
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45,10850.0,3444.444444
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50,11060.0,3160.000000
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40,11200.0,4000.000000
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48,11550.0,3437.500000
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42,11900.0,4047.619048
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45,12250.0,3888.888889

In [23]:
#dropping a column from the dataset
data2.drop(columns=['tax_salary'], inplace=True)

In [24]:
#dropping a row from the dataset

data2.drop(0)

,name,last_name,age,email,country,sex,salary,working_hours,hourly_rate
1,Sony,Brown,6,user2@dsfp.com,Ghana,Female,60000,45,1333.333333
2,Amina,Sule,12,user3@dsfp.com,Nigeria,Female,55000,38,1447.368421
3,Tunde,Ojo,15,user4@dsfp.com,Kenya,Male,70000,42,1666.666667
4,Kwame,Mensah,10,user5@dsfp.com,Ghana,Male,65000,40,1625.000000
5,Fatima,Ali,14,user6@dsfp.com,Egypt,Female,62000,36,1722.222222
6,Chinedu,Eze,13,user7@dsfp.com,Nigeria,Male,58000,44,1318.181818
7,Zainab,Bello,11,user8@dsfp.com,Nigeria,Female,54000,39,1384.615385
8,Kofi,Boateng,9,user9@dsfp.com,Ghana,Male,60000,41,1463.414634
9,Aisha,Lawal,16,user10@dsfp.com,Kenya,Female,72000,40,1800.000000
10,Sadiq,Ahmed,17,user11@dsfp.com,Nigeria,Male,75000,45,1666.666667
11,Mary,Smith,8,user12@dsfp.com,South Africa,Female,52000,37,1405.405405
12,Ibrahim,Sadiq,18,user13@dsfp.com,Egypt,Male,80000,48,1666.666667
13,Blessing,Okeke,14,user14@dsfp.com,Nigeria,Female,68000,42,1619.047619
14,Yusuf,Mohammed,16,user15@dsfp.com,Sudan,Male,74000,46,1608.695652
15,Grace,Johnson,7,user16@dsfp.com,South Africa,Female,51000,35,1457.142857
16,Samuel,Abubakar,19,user17@dsfp.com,Kenya,Male,82000,50,1640.000000
17,Halima,Suleiman,13,user18@dsfp.com,Nigeria,Female,66000,40,1650.000000
18,Peter,Williams,20,user19@dsfp.com,Ghana,Male,90000,55,1636.363636
19,Amaka,Onyekachi,15,user20@dsfp.com,Nigeria,Female,70000,43,1627.906977
20,John,Doe,22,user21@dsfp.com,Nigeria,Male,95000,40,2375.000000
21,Sarah,White,21,user22@dsfp.com,Ghana,Female,88000,45,1955.555556
22,Ahmed,Hassan,24,user23@dsfp.com,Kenya,Male,91000,42,2166.666667
23,Ruth,Green,23,user24@dsfp.com,Nigeria,Female,87000,38,2289.473684
24,Daniel,Miller,26,user25@dsfp.com,Egypt,Male,93000,46,2021.739130
25,Esther,Adams,25,user26@dsfp.com,Sudan,Female,89000,44,2022.727273
26,Musa,Sani,27,user27@dsfp.com,Nigeria,Male,96000,48,2000.000000
27,Joy,Clark,28,user28@dsfp.com,Ghana,Female,99000,40,2475.000000
28,Paul,Taylor,29,user29@dsfp.com,Kenya,Male,102000,41,2487.804878
29,Hauwa,Mustapha,30,user30@dsfp.com,Nigeria,Female,105000,39,2692.307692
30,James,King,31,user31@dsfp.com,South Africa,Male,110000,45,2444.444444
31,Linda,Evans,32,user32@dsfp.com,Egypt,Female,108000,42,2571.428571
32,Ali,Farouk,33,user33@dsfp.com,Nigeria,Male,112000,46,2434.782609
33,Mercy,Nelson,34,user34@dsfp.com,Ghana,Female,115000,44,2613.636364
34,Joseph,Young,35,user35@dsfp.com,Kenya,Male,118000,48,2458.333333
35,Zara,Khan,36,user36@dsfp.com,Nigeria,Female,120000,40,3000.000000
36,Michael,Scott,37,user37@dsfp.com,Sudan,Male,125000,50,2500.000000
37,Peace,Lewis,38,user38@dsfp.com,Nigeria,Female,128000,43,2976.744186
38,Abdul,Kabir,39,user39@dsfp.com,Ghana,Male,130000,45,2888.888889
39,Rose,Walker,40,user40@dsfp.com,Kenya,Female,135000,47,2872.340426
40,David,Bamidele,41,user41@dsfp.com,Nigeria,Male,140000,42,3333.333333
41,Patience,Uche,42,user42@dsfp.com,South Africa,Female,145000,48,3020.833333
42,Ismail,Salam,43,user43@dsfp.com,Egypt,Male,148000,44,3363.636364
43,Favour,Okoro,44,user44@dsfp.com,Nigeria,Female,150000,46,3260.869565
44,Joshua,Adeyemi,45,user45@dsfp.com,Ghana,Male,155000,45,3444.444444
45,Hannah,Daniels,46,user46@dsfp.com,Kenya,Female,158000,50,3160.000000
46,Usman,Sule,47,user47@dsfp.com,Nigeria,Male,160000,40,4000.000000
47,Faith,Roberts,48,user48@dsfp.com,Sudan,Female,165000,48,3437.500000
48,Emeka,Eze,49,user49@dsfp.com,Nigeria,Male,170000,42,4047.619048
49,Deborah,Cole,50,user50@dsfp.com,Ghana,Female,175000,45,3888.888889