In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

****INTRODUCTION TO PANDAS AND EDA****

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/kaggle/input/mental-health-dataset/share-with-depression.csv")

In [33]:
data

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,5.125291
1,Afghanistan,AFG,1991,5.116306
2,Afghanistan,AFG,1992,5.106558
3,Afghanistan,AFG,1993,5.100328
4,Afghanistan,AFG,1994,5.099424
...,...,...,...,...
6775,Zimbabwe,ZWE,2015,3.548613
6776,Zimbabwe,ZWE,2016,3.557508
6777,Zimbabwe,ZWE,2017,3.564138
6778,Zimbabwe,ZWE,2018,3.563141
6779,Zimbabwe,ZWE,2019,3.554571

In [26]:
data.shape

(6780, 4)

In [27]:
data.ndim

2

In [35]:
data.columns

Index(['Entity', 'Code', 'Year',
       'Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)'],
      dtype='object')

In [37]:
#to pick one specific column

data["Year"]

0       1990
1       1991
2       1992
3       1993
4       1994
        ...
6775    2015
6776    2016
6777    2017
6778    2018
6779    2019
Name: Year, Length: 6780, dtype: int64

In [39]:
#Another way to do it ..that is to 

data.Year

0       1990
1       1991
2       1992
3       1993
4       1994
        ...
6775    2015
6776    2016
6777    2017
6778    2018
6779    2019
Name: Year, Length: 6780, dtype: int64

In [43]:
#To fetch multiple columns

data[['Year','Code']]

      Year Code
0     1990  AFG
1     1991  AFG
2     1992  AFG
3     1993  AFG
4     1994  AFG
...    ...  ...
6775  2015  ZWE
6776  2016  ZWE
6777  2017  ZWE
6778  2018  ZWE
6779  2019  ZWE

[6780 rows x 2 columns]

In [50]:
#to fetch out rows.. iloc(integer row), loc

data.loc[35]

Entity                                                                             African Region (WHO)
Code                                                                                                NaN
Year                                                                                               1995
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                4.695696
Name: 35, dtype: object

In [51]:
data.iloc[35]

Entity                                                                             African Region (WHO)
Code                                                                                                NaN
Year                                                                                               1995
Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)                4.695696
Name: 35, dtype: object

In [52]:
#more than one row with iloc

data.iloc[10:30]

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
10,Afghanistan,AFG,2000,5.124827
11,Afghanistan,AFG,2001,5.121707
12,Afghanistan,AFG,2002,5.115216
13,Afghanistan,AFG,2003,5.106108
14,Afghanistan,AFG,2004,5.101325
15,Afghanistan,AFG,2005,5.097348
16,Afghanistan,AFG,2006,5.097591
17,Afghanistan,AFG,2007,5.098612
18,Afghanistan,AFG,2008,5.096508
19,Afghanistan,AFG,2009,5.097203
20,Afghanistan,AFG,2010,5.098864
21,Afghanistan,AFG,2011,5.100837
22,Afghanistan,AFG,2012,5.103256
23,Afghanistan,AFG,2013,5.106234
24,Afghanistan,AFG,2014,5.109784
25,Afghanistan,AFG,2015,5.113303
26,Afghanistan,AFG,2016,5.111760
27,Afghanistan,AFG,2017,5.111567
28,Afghanistan,AFG,2018,5.119865
29,Afghanistan,AFG,2019,5.131458

In [53]:
#to pick or skip random with a specific of step

data.iloc[[11,21,31]]

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
11,Afghanistan,AFG,2001,5.121707
21,Afghanistan,AFG,2011,5.100837
31,African Region (WHO),NaN,1991,4.715682

In [55]:
data.iloc[11:41:10]

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
11,Afghanistan,AFG,2001,5.121707
21,Afghanistan,AFG,2011,5.100837
31,African Region (WHO),NaN,1991,4.715682

In [56]:
#to pick first 3 columns and also first 3 rows

data.iloc[0:3, 0:3]

        Entity Code  Year
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992

In [57]:
#first 3 column of row 8

data.iloc[8, 0:3]

Entity    Afghanistan
Code              AFG
Year             1998
Name: 8, dtype: object

In [58]:
#if its loc.. u can type in the name.. but if its iloc you will just put number... 

data.loc[0:7, "Entity"]

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
Name: Entity, dtype: object

In [59]:
data.loc[0:8, ['Entity', 'Code', 'Year']]

        Entity Code  Year
0  Afghanistan  AFG  1990
1  Afghanistan  AFG  1991
2  Afghanistan  AFG  1992
3  Afghanistan  AFG  1993
4  Afghanistan  AFG  1994
5  Afghanistan  AFG  1995
6  Afghanistan  AFG  1996
7  Afghanistan  AFG  1997
8  Afghanistan  AFG  1998

In [3]:
#to pick out the unique country

data['Entity'].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Asia (WB)',
       'South Sudan', 'South-East Asia Region (WHO)', 'Spain',
       'Sri Lanka', 'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [49]:
data.head(50)

,Entity,Code,Year,Prevalence - Depressive disorders - Sex: Both - Age: Age-standardized (Percent)
0,Afghanistan,AFG,1990,5.125291
1,Afghanistan,AFG,1991,5.116306
2,Afghanistan,AFG,1992,5.106558
3,Afghanistan,AFG,1993,5.100328
4,Afghanistan,AFG,1994,5.099424
5,Afghanistan,AFG,1995,5.098495
6,Afghanistan,AFG,1996,5.100580
7,Afghanistan,AFG,1997,5.105474
8,Afghanistan,AFG,1998,5.113707
9,Afghanistan,AFG,1999,5.120480
10,Afghanistan,AFG,2000,5.124827
11,Afghanistan,AFG,2001,5.121707
12,Afghanistan,AFG,2002,5.115216
13,Afghanistan,AFG,2003,5.106108
14,Afghanistan,AFG,2004,5.101325
15,Afghanistan,AFG,2005,5.097348
16,Afghanistan,AFG,2006,5.097591
17,Afghanistan,AFG,2007,5.098612
18,Afghanistan,AFG,2008,5.096508
19,Afghanistan,AFG,2009,5.097203
20,Afghanistan,AFG,2010,5.098864
21,Afghanistan,AFG,2011,5.100837
22,Afghanistan,AFG,2012,5.103256
23,Afghanistan,AFG,2013,5.106234
24,Afghanistan,AFG,2014,5.109784
25,Afghanistan,AFG,2015,5.113303
26,Afghanistan,AFG,2016,5.111760
27,Afghanistan,AFG,2017,5.111567
28,Afghanistan,AFG,2018,5.119865
29,Afghanistan,AFG,2019,5.131458
30,African Region (WHO),NaN,1990,4.725167
31,African Region (WHO),NaN,1991,4.715682
32,African Region (WHO),NaN,1992,4.706978
33,African Region (WHO),NaN,1993,4.699633
34,African Region (WHO),NaN,1994,4.696143
35,African Region (WHO),NaN,1995,4.695696
36,African Region (WHO),NaN,1996,4.707272
37,African Region (WHO),NaN,1997,4.733000
38,African Region (WHO),NaN,1998,4.762160
39,African Region (WHO),NaN,1999,4.786291
40,African Region (WHO),NaN,2000,4.795000
41,African Region (WHO),NaN,2001,4.792240
42,African Region (WHO),NaN,2002,4.787624
43,African Region (WHO),NaN,2003,4.782117
44,African Region (WHO),NaN,2004,4.776465
45,African Region (WHO),NaN,2005,4.770652
46,African Region (WHO),NaN,2006,4.757573
47,African Region (WHO),NaN,2007,4.732456
48,African Region (WHO),NaN,2008,4.700944
49,African Region (WHO),NaN,2009,4.670177

In [20]:
#print a dictionary name it info.. in it store in ur name, age and email.

info = {
    "name": "Fatima Abdullahi Mustapha",
    "age": 24,
    "email": "fatimamustaphaparker@gmail.com"}

data = pd.DataFrame([info])
print(data)

                        name  age                           email
0  Fatima Abdullahi Mustapha   24  fatimamustaphaparker@gmail.com

In [44]:
info2 = {
    "name": ["Fatima Abdullahi Mustapha", "Aisha Bello", "Zainab Musa"],
    "age": [24, 23, 25],
    "email": [
        "fatimamustaphaparker@gmail.com",
        "aishabello@gmail.com",
        "zainabmusa@gmail.com"
    ]
}

data = pd.DataFrame(info2)
print(data)

                        name  age                           email
0  Fatima Abdullahi Mustapha   24  fatimamustaphaparker@gmail.com
1                Aisha Bello   23            aishabello@gmail.com
2                Zainab Musa   25            zainabmusa@gmail.com

In [ ]:
#dataframe

data1 = pd.DataFrame(info)

In [21]:
#import a new dataset
data = pd.read_csv("/kaggle/input/heartdisease/Heart_Disease_Prediction.csv")

In [5]:
#print out all the columns
data.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [7]:
#print top 10 rows
data.iloc[0:10]

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
6,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
7,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
8,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence
9,63,0,4,150,407,0,2,154,0,4.0,2,3,7,Presence

In [23]:
#print 3 columns from the dataset without the  dataset

list(data.columns[:3])

['Age', 'Sex', 'Chest pain type']

In [10]:
#print last 10 rows
data.iloc[-10:]

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
260,58,0,3,120,340,0,0,172,0,0.0,1,0,3,Absence
261,60,1,4,130,206,0,2,132,1,2.4,2,2,7,Presence
262,58,1,2,120,284,0,2,160,0,1.8,2,0,3,Presence
263,49,1,2,130,266,0,0,171,0,0.6,1,0,3,Absence
264,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [11]:
#print the 6,7,10,12 rows

data.iloc[[5, 6, 9, 11]]

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
5,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
6,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
9,63,0,4,150,407,0,2,154,0,4.0,2,3,7,Presence
11,53,1,4,142,226,0,2,111,1,0.0,1,0,7,Absence

In [12]:
#print the first column of the 13th and 16th row

data.iloc[[12, 15], 0]

12    44
15    71
Name: Age, dtype: int64

In [27]:
#print the value count of a column of choice

data['Cholesterol'].value_counts()

Cholesterol
234    6
269    5
254    5
239    4
226    4
      ..
335    1
247    1
340    1
284    1
192    1
Name: count, Length: 144, dtype: int64

In [15]:
#print the last element of your dataframe

data.iloc[-1, -1]

'Presence'

In [ ]:
#Create a dictionary data with 3 key value pairs - name, age , score
#each value should take a list of 5 names, age, score
#using the dictionary , create a datafrome

In [32]:
data = {
    "Name": ["Fatima", "Aisha", "kenny", "Maryam", "munirah"],
    "Age": [24, 25, 25, 22, 26],
    "Score": [85, 90, 78, 92, 88]
}

details = pd.DataFrame(data)
print(details)

      Name  Age  Score
0   Fatima   24     85
1    Aisha   25     90
2    kenny   25     78
3   Maryam   22     92
4  munirah   26     88

In [36]:
#Get data when age > 24

details[details["Age"] > 24]

      Name  Age  Score
1    Aisha   25     90
2    kenny   25     78
4  munirah   26     88

In [38]:
details[details['Name'] == 'kenny']

    Name  Age  Score
2  kenny   25     78

In [39]:
details[details['Name'].isin(["Fatima", "Maryam"])]

     Name  Age  Score
0  Fatima   24     85
3  Maryam   22     92